<nav style="background-color: #343a40;" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" th:href="@{/home}">Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" style="color: white;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" style="color: white;">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}" style="color: white;">Book Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/members}" style="color: white;">Member Management</a>
                </li>
            </ul>
        </div>
    </nav>